services:
  minertimer:
    build:
      context: ..
      dockerfile: web/Dockerfile
    volumes:
      - ./db:/app/db
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - caddy_default

networks:
  caddy_default:
    external: true
